[package]
name = "ethrex-replay"
edition = "2024"
authors = ["LambdaClass"]

[dependencies]
ethrex-config = { path = "../ethrex/crates/common/config" }
ethrex-storage = { path = "../ethrex/crates/storage" }
ethrex-common = { path = "../ethrex/crates/common" }
ethrex-vm = { path = "../ethrex/crates/vm" }
ethrex-levm = { path = "../ethrex/crates/vm/levm" }
ethrex-rpc = { path = "../ethrex/crates/networking/rpc" }
ethrex-p2p = { path = "../ethrex/crates/networking/p2p" }
ethrex-trie = { path = "../ethrex/crates/common/trie" }
ethrex-rlp = { path = "../ethrex/crates/common/rlp" }
ethrex-blockchain = { path = "../ethrex/crates/blockchain" }
ethrex-l2 = { path = "../ethrex/crates/l2", optional = true }
ethrex-l2-common = { path = "../ethrex/crates/l2/common" }
ethrex-storage-rollup = { path = "../ethrex/crates/l2/storage", optional = true }
ethrex-l2-rpc = { path = "../ethrex/crates/l2/networking/rpc" }
ethrex-prover = { package = "ethrex-prover", path = "../ethrex/crates/l2/prover", default-features = false }
guest_program = { path = "../ethrex/crates/l2/prover/src/guest_program", default-features = false }

serde = { version = "1.0.203", features = ["derive"] }
hex = "0.4.3"
serde_json = "1.0.117"
serde_with = "3.11.0"
reqwest = { version = "0.12.7", features = ["socks", "json"] }
tracing-subscriber = { version = "0.3.0", features = ["env-filter"] }
tracing = { version = "0.1", features = ["log"] }
eyre = "0.6.12"
tokio = { version = "1.41.1", default-features = false }
clap = { version = "4.3", features = ["derive", "env"] }
charming = { version = "0.4.0", features = ["ssr"] }
lazy_static = "1.5.0"
bytes = { version = "1.6.0", features = ["serde"] }
again = "0.1.2"
futures-util = "0.3.31"
futures = "0.3.31"
sha3 = "0.10.8"
tikv-jemallocator = { version = "0.6.0", optional = true }

[features]
risc0 = ["guest_program/risc0", "ethrex-prover/risc0"]
sp1 = ["guest_program/sp1", "ethrex-prover/sp1"]
gpu = ["ethrex-prover/gpu"]
l2 = [
    "guest_program/l2",
    "ethrex-prover/l2",
    "ethrex-l2/l2",
    "ethrex-storage-rollup/l2",
]
profiling = ["ethrex-prover/profiling"]
jemalloc = ["dep:tikv-jemallocator"]
